table {
    width: 100%;
    margin-top: 20px;
  }
  
  thead {
    background-color: #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .container {
    margin-top: 20px;
  }

  .d-flex {
    display: flex;
    margin: 0;
    position: absolute;
    top:-47%;
    left: 80%;
    height: 100vh;
  }